<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/log-in" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <% if (session.messages) { %>
            <p><%= session.messages[0] %></p>
        <% } %>
        <button type="submit">Submit</button>
        <p>Don't have an account? <a href="/sign-up">Sign up now!</a></p>
    </form>
</body>
</html>