<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
</head>
<body>
    <h1>Enter the secret password!</h1>
    <p>Psst...it's IAMAMEMBER</p>
    <form action="/member" method="POST">
        <label for="member">Code</label>
        <input type="password" name="member" id="member">
        <button type="submit">Submit</button>
    </form>
    <% if (locals.error) {%>
        <p><%= error %></p>
    <% } %>
</body>
</html>